/* inicio do cabeçalho */
*{margin: 0px; padding:0px;}

li{
    display: inline;
    margin: 15px;
    font-size: 20px;
}
#cabeçalho{
    background-color: #d03b3b;
    border-bottom: 5px solid #b93333;
}
#cabeçalho ul a{
    background-color: white;
    padding: 5px;
    color: black;
}
#cabeçalho ul li a{
    text-decoration: none;
    border-radius: 50px;
    border: 2px solid #d03b3b;
}
#cabeçalho ul{
    padding: 10px;
}
#logo{
    display: flex;
    align-items: center;
}
#logo img{
    width: 100px;
    height: 100px;
    border-radius: 75px;
}
#logo h2{
    padding-left: 20px;
}
#menu{
    display: inline;
    position: fixed;
    right: 0;
    top: 80px;
}
.menubtn {
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    padding:10px;
    border: 2px solid #d03b3b;
    border-radius: 50px;
}
.menubtn:hover {
    background-color: rgb(233, 233, 233);
    }
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    position:absolute;
    border:5px solid #b93333;
    background-color: #d03b3b;
    border-top: 0;
    min-width: 160px;
    transform: translateX(-65%);
    top: calc(100% + 2px);
}
.dropdown-child a {
    color: black;
    font-size: 15px;
    border: 2px solid white;
    background-color: white;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}
/* fim do cabeçalho */

/* inicio */
#banner{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 1000px;
    border:10px solid #b93333 ;
}
#prateleira{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 80px;
}
#prateleira img{
    width: 300px;
    border:10px solid #b93333 ;
}
#prateleira button{
    width: 325px;
    margin-bottom: 25px;
}

/* sobre */
#sobre{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 10px solid #b93333;
    width: 800px;
}
#historia{
    display: block;
    margin: 0 auto;
    width: 1450px;
    background-color: #c9c9c9;
    border: 10px solid #d03b3b;
}


/* produtos */
.produto{
    margin: 10px;
    background-color: #d03b3b;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}
.produto a{
    text-decoration: none;
}
#prateleira1{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 80px;
    width: 300px;
    text-align: center;
}
#prateleira1 img{
    width: 300px;
    border:10px solid #b93333 ;
}
#prateleira1 button{
    width: 300px;
    margin-bottom: 10px;
}

/* login */
#caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    margin-top: 180px;
    width: 250px;
    border-radius: 10px;
    background-color: #b93333;
}
#login{
    background-color: #c9c9c9;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
}
#login input[type="submit"]{
    margin-left: 55px;
    font-size: 20px;
    height: 4vh;
    width: 10vh;
}
#login input{
    margin-left: 20px;
    height: 2vh;
    border-radius: 5px;
}
#login label{
    margin-left: 20px;
}
#login button{
    margin-left: 54px;
    border-radius: 5px;
}
#login button a{
    text-decoration: none;
}

/* cadastro */
#caixa1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    margin-top: 180px;
    width: 280px;
    border-radius: 10px;
    background-color: #b93333;
}
#cadastro{
    background-color: #c9c9c9;
    padding: 20px;
    padding-bottom: 15px;
    border-radius: 10px;
}
#cadastro input[type="submit"]{
    margin-left: 45px;
    font-size: 20px;
    height: 4vh;
    width: 15vh;
}
#cadastro input{
    margin-left: 25px;
    height: 2vh;
    border-radius: 5px;
}
#cadastro label{
    margin-left: 25px;
}
#cadastro button{
    margin-left: 54px;
}
#cadastro button a{
    text-decoration: none;
}

/* consultar cliente*/
#caixa2{
    display: flex;
    padding: 10px;
    width: 350px;
    border-radius: 10px;
    margin-left: 3vh;
    background-color: #b93333;
}
#consultar{
    background-color: #c9c9c9;
    padding: 20px;
    padding-bottom: 10px;
    width: 310px;
    border-radius: 10px;
}